<nav>
    <menu>
        <li>
            <a href="index.html">&#127482;&#127475;</a>
        </li>
        {% for language in languages %}
            <li {% if language==lang %}class="selected"{% endif %}>
                {% if post %}
                    <a href="../{{ language }}/{{ post.slug }}.html">
                    {% else %}
                        <a href="../{{ language }}/index.html">
                        {% endif %}
                        {% if language == "es" %}
                            Español
                        {% elif language == "en" %}
                            English
                        {% elif language == "ru"
                            %}
                            Русский{%
                            endif %}
                        </a>
                    </li>
                {% endfor %}
            </menu>
        </nav>
